body {
  margin: 0;
  font-family: "Verdana", "Arial", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
}

.MatrixQuestionnaire {
  display: flex;
  min-width: 800px;
  max-width: 800px;
  flex-wrap: wrap;
}

.MatrixAnswers {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.MatrixAnswers thead tr {
  background-color: #f3f3f3;
  color: #ffffff;
  text-align: left;
}

.MatrixAnswers td {
  padding: 5px;
}

.MatrixAnswers tbody tr {
  border-bottom: 1px solid #dddddd;
}

.MatrixAnswers tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.MatrixAnswers-ColumnHeaders .Input input, .MatrixAnswers-Row .Input input {
  font-style: italic;
  border: none;
  width: 75px;
  box-sizing: border-box;
}

.MatrixAnswers-ColumnHeaders .Input input:focus, .MatrixAnswers-Row .Input input:focus {
  font-style: normal;
}

.Summary {
  font-size: 14px;
  margin-left: 5%
}

.Summary-Statistic {
  width: 100%
}

.MatrixAnswers-ColumnHeader {
  display: flex;
}

.MatrixAnswers-Row {
  width: 100%;
}

.MatrixAnswers-RowTools {
  display: flex
}

.MatrixAnswers-Options {
  width: 100%;
  justify-items: center;
  align-items: center
}

.MatrixAnswers-Option {
  justify-items: center;
  align-items: center;
  width: 50px;
  padding: 10px;
  padding-top: 0
}

.MatrixAnswers-Buttons {
  display: flex;
  justify-content: center;
}

.AddColumnOrRow {
  text-align: left
}

.AddColumnOrRow-Label {
  cursor: pointer;
  color: green
}

.DeleteColumnOrRow {
  text-align: left
}

.DeleteColumnOrRow-Label {
  cursor: pointer;
  color: red
}

.Upload {
  text-align: center;
  font-size: 2em;
}

.InputUpload > input[type=file] {
  display: none
}

.InputUpload-Button {
  width: 4vw;
  height: 4vw
}